/* Start Global Css */
*,
::before,
::after {
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
    background-color: var(--white-color);
}

html {
    scroll-behavior: smooth;
}

:root {
    --main-color: #10CAB7;
    --dark-color: #2C4755;
    --light-color: #F6F6F6;
    --white-color: #fff;
    --sub-dark-color: #1F2021;
    --section-padding: 60px;
    --extra-bold-weight: 800;
    --regular-weight: 400;
    --line-height-paragraph: 1.8;
    --duration-transition: 0.3s;
}

/* Start Component */
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.container .title-section {
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: var(--section-padding);
    text-align: center;
}

.container .title-section h2 {
    font-weight: var(--extra-bold-weight);
    font-size: 90px;
    letter-spacing: -8.09px;
    color: #EBECED;
    margin: 0;
}

.container .title-section p {
    font-weight: var(--regular-weight);
    font-size: 20px;
    letter-spacing: -1.25px;
    color: #575757;
    margin: 0;
    margin-top: -32px;
}

@media (min-width: 768px) {
    .container .title-section {
        max-width: 400px;
    }
}

@media (min-width: 992px) {
    .container .title-section h2 {
        font-size: 120px;
    }

    .container .title-section p {
        font-size: 25px;
        margin-top: -40px;
    }
}

/* End Component */

@media (min-width: 768px) {

    .container {
        width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}

@media (min-width: 1200px) {

    .container {
        width: 1140px;
    }
}

/* End Global Css */

/* Start Header */
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* 
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center; 
    */
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
}

header nav a.logo {
    display: block;
    width: 45px;
    /*
    grid-area: 1 / 1 / 2 / 12;
      */
}

header nav a.logo img {
    max-width: 100%;
    height: auto;
}

header nav .links {
    position: relative;
    /* 
    grid-area: 1 / 12 / 2 / 13;
    justify-self: end;
     */
}

header nav .links .bars {
    width: 30px;
    height: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: space-between;
}

header nav .links .bars span {
    display: block;
    background-color: var(--dark-color);
    height: 2.5px;
    flex-basis: 100%;
}

header nav .links .bars span:nth-of-type(2) {
    flex-basis: 50%;
    transition: flex-basis var(--duration-transition);
}

header nav .links:hover .bars span:nth-of-type(2) {
    flex-basis: 100%;
}

header nav .links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: var(--light-color);
    width: 200px;
    position: absolute;
    right: 0;
    top: 28px;
    display: none;
    transition: display var(--duration-transition);
    z-index: 2;
}

header nav .links ul::before {
    content: "";
    position: absolute;
    border: 10px solid;
    border-color: transparent transparent var(--light-color) transparent;
    right: 5px;
    transform: translateY(-100%);
}

header nav .links ul li:not(:last-child) {
    border-bottom: 0.1px solid #ddd;
}

header nav .links ul li a {
    display: block;
    text-decoration: none;
    color: var(--dark-color);
    font-size: 18px;
    padding: 15px 10px;
    transition: transform var(--duration-transition);
}

header nav .links ul li a:hover {
    transform: translateX(10px);
}

header nav .links:hover ul {
    display: block;
}

header .landing {
    height: 700px;
    background-image: url("../images/mountain.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    padding-top: 15px;
}

header .landing::before {
    content: "";
    position: absolute;
    background-color: rgba(246, 246, 246, 0.3);
    width: 100%;
    height: 100%;
}

header .landing .intro {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    min-width: 355px;
    max-width: 100%;
}

header .landing .intro h1,
header .landing .intro p {
    position: relative;
    margin: 0;
}

header .landing .intro h1 {
    color: var(--main-color);
    font-size: 55.43px;
    font-weight: var(--extra-bold-weight);
    letter-spacing: -2.77px;
}

header .landing .intro p {
    color: var(--second-color);
    font-size: 20px;
    letter-spacing: -1px;
    line-height: var(--line-height-paragraph);
    font-weight: var(--regular-weight);
}

header .landing .intro p:nth-of-type(1) {
    margin-top: 15px;
}

@media (min-width: 992px) {
    header .landing .intro h1 {
        font-size: 70px;
    }

    header .landing .intro p {
        font-size: 22px;
    }
}

/* End Header */
/* Start Works */
.works {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--white-color);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.works .box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    padding: 20px;
    cursor: pointer;
    transition: box-shadow var(--duration-transition);
}

.works .box:hover {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
        rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.works .box i {
    color: var(--main-color);
}

.works .box h3,
.works .box p {
    margin: 0;
}

.works .box h3 {
    font-weight: var(--extra-bold-weight);
    font-size: 20px;
    letter-spacing: -1px;
    color: var(--second-color);
}

.works .box p {
    font-weight: var(--regular-weight);
    font-size: 15px;
    line-height: var(--line-height-paragraph);
    letter-spacing: -0.75px;
}

@media (min-width: 992px) {
    .works .box i {
        font-size: 50px;
    }

    .works .box h3 {
        font-size: 22px;
    }

    .works .box p {
        font-size: 17px;

    }
}

/* End Works */
/* Start Services */
.services {
    padding-bottom: var(--section-padding);
    position: relative;
}

.services .container .content-section-services .service {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.services .container .content-section-services .service i {
    color: var(--main-color);
}

.services .container .content-section-services .service .content h3 {
    font-weight: var(--extra-bold-weight);
    font-size: 20px;
    color: var(--sub-dark-color);
    margin: 0 0 20px 0;
}

.services .container .content-section-services .service .content p {
    font-weight: var(--regular-weight);
    font-size: 15px;
    line-height: var(--line-height-paragraph);
    letter-spacing: -0.75px;
    color: #4D4C4C;
    margin: 0;
}

.services .container .content-section-services .image {
    display: none;
}

@media (min-width: 768px) {
    .services .content-section-services {
        display: flex;
        flex-wrap: wrap;
    }

    .services .container .content-section-services .service {
        flex-direction: row;
        text-align: initial;
        gap: 40px;
        flex-basis: 50%;
    }

    .services .container .content-section-services .service i {
        flex-basis: 32px;
    }

    .services .container .content-section-services .service .content {
        flex: 1;
    }
}

@media (min-width: 992px) {
    .services .container .content-section-services .service .content {
        align-self: flex-end;
    }

    .services .container .content-section-services .service i {
        font-size: 50px;
        flex-basis: 50px;
    }

    .services .container .content-section-services .service .content h3 {
        font-size: 22px;
    }

    .services .container .content-section-services .service .content p {
        font-size: 17px;
    }

    .services .container .title-section h2 {
        font-size: 120px;
    }

    .services .container .title-section p {
        font-size: 25px;
    }
}

/* X-large Screens  */
@media (min-width: 1200px) {
    .services .content-section-services {
        display: grid;
        grid-template-columns: 1fr 1fr auto;
    }

    .services .container .content-section-services .image {
        display: block;
        grid-area: 1 / 3 / 3 / 4;
        align-self: center;
        position: relative;
    }

    .services .container .content-section-services .image img {
        width: 100%;
        height: auto;
    }

    .services .container .content-section-services .image::before {
        content: "";
        position: absolute;
        background-color: var(--dark-color);
        width: 80px;
        height: calc(100% + 60px);
        top: -30px;
        right: -40px;
        z-index: -1;
    }
}

/* End Services */
/* Start Portfolio */
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--light-color);
}

.portfolio .container .content-section-portoflio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.portfolio .container .content-section-portoflio .box {
    display: flex;
    flex-direction: column;
    background-color: var(--white-color);
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.portfolio .container .content-section-portoflio .box .div-image {
    cursor: pointer;
    overflow: hidden;
}

.portfolio .container .content-section-portoflio .box .div-image img {
    width: 100%;
    height: auto;
    border-radius: 7px 7px 0 0;
    object-fit: cover;
    transition: transform var(--duration-transition);
}

.portfolio .container .content-section-portoflio .box .div-image:hover img {
    transform: scale(1.3);
}

.portfolio .container .content-section-portoflio .box .div-text {
    padding: 20px;
}

.portfolio .container .content-section-portoflio .box .div-text h3 {
    font-weight: var(--extra-bold-weight);
    font-size: 20px;
    color: var(--sub-dark-color);
    margin: 0;
}

.portfolio .container .content-section-portoflio .box .div-text p {
    font-weight: var(--regular-weight);
    font-size: 15px;
    line-height: var(--line-height-paragraph);
    letter-spacing: -0.75px;
    color: #4D4C4C;
    margin: 20px 0 0;
}

.container a.btn {
    display: block;
    width: 146px;
    height: 52px;
    line-height: 52px;
    text-align: center;
    font-weight: var(--extra-bold-weight);
    font-size: 16px;
    color: var(--sub-dark-color);
    border: 1px solid var(--sub-dark-color);
    text-decoration: none;
    margin: 40px auto 0;
    position: relative;
    z-index: 1;
}

.container a.btn::before {
    content: "";
    width: calc(100% + 2px);
    height: 100%;
    background-color: var(--sub-dark-color);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transform: rotateX(90deg);
    transform-origin: 50% 0%;
    transition: transform var(--duration-transition);
}

.container a.btn:hover::before {
    transform: rotateX(0deg);
}

.container a.btn:hover {
    transform: rotateX(0deg);
    color: var(--main-color);
}

@media (min-width: 992px) {
    .portfolio .container .content-section-portoflio .box .div-text h3 {
        font-size: 22px;
    }

    .portfolio .container .content-section-portoflio .box .div-text p {
        font-size: 17px;
    }
}

/* End Portfolio */
/* Start about */
.about {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--white-color);
}

.about .content-section-about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about .content-section-about .part-info {
    text-align: center;
    margin-top: 60px;
}

.about .content-section-about .part-info p:first-of-type {
    font-weight: var(--extra-bold-weight);
    font-size: 20px;
    line-height: 2;
    color: #334752;
    margin: 0 0 60px 0;
}

.about .content-section-about .part-info p:last-of-type {
    font-weight: var(--regular-weight);
    font-size: 15px;
    line-height: 2;
    color: #575757;
    letter-spacing: -0.75px;
    margin: 40px 0;
}

.about .content-section-about .part-info hr {
    height: 2px;
    background-color: var(--main-color);
    border: none;
    width: 50%;
    margin: 0 auto;
}

@media (min-width: 992px) {
    .about .content-section-about {
        flex-direction: row;
        align-items: flex-start;
        gap: 60px;
    }

    .about .content-section-about .part-image {
        flex-basis: 400px;
        position: relative;
        z-index: 1;
    }

    .about .content-section-about .part-image::before {
        content: "";
        position: absolute;
        background-color: #ebeced;
        width: 90px;
        height: calc(100% + 60px);
        left: -20px;
        top: -30px;
        z-index: -1;
    }

    .about .content-section-about .part-image::after {
        content: "";
        position: absolute;
        width: 140px;
        height: 100%;
        border-left: 80px solid var(--main-color);
        border-bottom: 80px solid var(--main-color);
        top: -30px;
        right: 10px;
        z-index: -1;
    }

    .about .content-section-about .part-info {
        flex: 1;
        text-align: initial;
        margin: 0;
    }

    .about .content-section-about .part-info hr {
        margin-left: 0;
        margin-right: 50%;
    }

    .about .content-section-about .part-info p:first-of-type {
        margin-top: 0;
    }
}

/* End about */
/* Start Contact */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--light-color);
}

.contact .content-section-contact {
    text-align: center;
}

.contact .content-section-contact p:nth-of-type(1) {
    font-weight: var(--extra-bold-weight);
    font-size: 28px;
    letter-spacing: -2.77px;
    color: var(--dark-color);
    margin: 0;
}

.contact .content-section-contact p:nth-of-type(2) {
    font-weight: var(--extra-bold-weight);
    font-size: 28px;
    letter-spacing: -2.5px;
    margin: 10px 0 20px;
}

.contact .content-section-contact p:nth-of-type(2) a {
    color: var(--main-color);
    text-decoration: none;
}

.contact .content-section-contact p:last-of-type {
    font-weight: var(--regular-weight);
    font-size: 15px;
    letter-spacing: -0.75px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.contact .content-section-contact p:last-of-type span a {
    color: var(--dark-color);
    transition: color var(--duration-transition);
}


.contact .content-section-contact p:last-of-type span a:hover {
    color: var(--main-color);
}

.contact .content-section-contact p:last-of-type span a i {
    font-size: 20px;
}

/* Medium Screens  */
@media (min-width: 768px) {
    .contact .content-section-contact {
        text-align: initial;
    }

    .contact .content-section-contact p:nth-of-type(1) {
        font-size: 45px;
    }

    .contact .content-section-contact p:nth-of-type(2) {
        font-size: 45px;
        padding-left: 20px;
    }

    .contact .content-section-contact p:last-of-type {
        padding-left: 40px;
        justify-content: flex-start;
    }

}

/* End Contact */
/* Start Footer */
footer {
    background-color: var(--dark-color);
    height: 100px;
    line-height: 100px;
    text-align: center;
}

footer p {
    color: var(--white-color);
    font-size: 15px;
}

footer p span {
    color: var(--main-color);
    font-weight: var(--extra-bold-weight);
}

/* End Footer */